body{
    margin: 0%;
    padding: 0;
}
.container-fondo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.portada{
    width: 100%;
    height: 80%;
    position: absolute;
}
.navbar{
    width: 100%;
    z-index: 3;
    position: fixed;
}
.barra{
    padding: 0;
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: center;    
}